//custom styles for images and captions

.figure-center {
  margin: 1.6em 0 0.4em;
  text-align: center;
}

.figure-caption-center {
  margin-top: -0.1em;
  text-align: center;
  @include fs-2;
}

// custom styles for links

a:link {
  color: $link-color;
//  color: #12976b;
}

a:visited {
  color: darken($link-color,3%);
//  color: #15a872;
}

@import "../color_schemes/monochrome.scss";

// custom margins for lists

li:first-child {
    margin-top: -0.5em;
}

// custom margins for headings

h2 {
  padding-bottom: 0.6em;
}

// custom styles for notes

.note-wrapper {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.9em 0.9em 0.9em 3.1em;
  border-radius: 4px;
  background-color: rgba(18,151,107,.1);
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

.note-wrapper::before {
  display: inline-block;
  content: url("outline_info_black_48dp.png");
  opacity: 0.8;
  float: left;
  transform: scale(.16);
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0.9em;
  top: 0.9em;
}

.warning-wrapper {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.9em 0.9em 0.9em 3.1em;
  border-radius: 4px;
  background-color: rgba(18,151,107,.1);
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

.warning-wrapper::before {
  display: inline-block;
  content: url("round_warning_amber_black_48dp.png");
  opacity: 0.8;
  float: left;
  transform: scale(.16);
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0.9em;
  top: 0.9em;
}

.tip-wrapper {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.9em 0.9em 0.9em 3.1em;
  border-radius: 4px;
  background-color: rgba(18,151,107,.1);
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

.tip-wrapper::before {
  display: inline-block;
  content: url("outline_tips_and_updates_black_48dp.png");
  opacity: 0.8;
  float: left;
  transform: scale(.16);
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0.9em;
  top: 0.9em;
}
